$backgroundColor: #ffffff;
$bodyColor: #404040;
$linkColor: #6c5b7b;
$hoverColor: #c06c84;

@import url('https://fonts.googleapis.com/css2?family=Lato');


$bodyFont: "Lato"; 

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  color: $bodyColor;
}

h1 {
  margin: 0 0 15px 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 18px;
}

h3 {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-style: italic;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}


strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

body a {
  color: $linkColor;

}

a:focus,
a:hover {
  color: $hoverColor;
  text-decoration: none;
}

.nobr {
  white-space: nowrap;
}

.teachingtitle {
    font-style: italic;
}
